[flake8]

ignore = E203, E501, W503,  # handled by black
         A003,
         B008,
         S101,  # это тесты, assert допустим
         CCR001  # когнитивная сложность


exclude =
    .*
    venv
    env
    alembic
    run_tests.py
    __init__.py
    run.py

max-cognitive-complexity = 10

doctests = True
